@{
    ViewBag.Title = "About";
}

<div class="page-header">
    <h1>About <img class="pull-right" src="~/Images/NT_power_log_transparent.gif" alt="Natoma Technologies Small Logo" /></h1>
    <p class="lead">HHS Prototype - Created by Natoma Technologies, Inc.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>The Prototype</h4>
        <p>This web application is a Natoma Technologies, Inc. prototype for the Office of Systems Integration's Agile Development Pre-Qualified Pool.</p>
    </div>    
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Security</h4>
        <p>Any data entered in this application is not secure, and is not encrypted or otherwise protected. Please do not enter personally identifying information (PII), or other sensitive data, and do not use passwords that may be associated to any other existing accounts.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Acknowledgements</h4>
        <p>Natoma Technologies would like to thank <strong><a href="http://www.youthsolutions.org/" target="_blank">Stanford Youth Solutions</a></strong> for their valuable assistance in the design of this prototype.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>About Us</h4>
        <p>As a technical consulting firm and systems integrator, Natoma Technologies specializes in improving work processes, reducing costs and enhancing service levels. We can help clients leverage the best of today’s commercially available technologies or we can develop custom solutions that precisely meet their requirements.</p>
        <p>For further information visit <a href="http://www.natomatech.com" target="_blank">http://www.natomatech.com</a> or email us at <a href="mailto:info@natomatech.com?Subject=Prototype%20Information" target="_top">info@natomatech.com</a></p>
    </div>
</div>