@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Natoma Technologies, Inc. Prototype</h1>
    <p class="lead">Create your profile, communicate with your case worker, and find children's residential facility locations.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>News</h2>
        <p>
            Facilisi consequat torqueo huic brevitas ulciscor refero capto vel. Feugiat saluto consectetuer.
        </p>
        <p>
            Feugiat in os ut imputo esse.
        </p>
        <p>
            Comis rusticus haero macto hendrerit quod proprius aptent. Si consequat pertineo refero ymo iaceo vindico pecus. Valetudo acsi jus olim exputo quibus consequat aliquip.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>
            Ut vel acsi. Ad validus blandit turpis quod camur. Illum virtus refoveo acsi feugait. Iaceo ea nibh nulla quae vel brevitas ut. Abbas bis occuro iriure.
        </p>
        <p>
            Delenit nullus molior ea camur in. Tristique velit ulciscor et valetudo bene reprobo mara jus huic sed. Nullus nutus sagaciter feugiat lobortis demoveo consequat et ex lenis. Delenit foras erat abdo ut. Ex gilvus in sed facilisi tristique olim duis
        </p>
        <p>
            Aliquam dignissim ut. Gilvus enim quibus vulputate occuro eu haero facilisi facilisi pertineo quadrum capio. Magna erat distineo aliquip epulae minim commodo.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reminders</h2>
        <p>
            Vulputate velit quod typicus damnum lobortis modo melior abdo. Tincidunt incassum duis. Utinam capto importunus feugiat ludus. Interdico ut lobortis autem duis consequat aptent nutus in. Huic uxor pneum brevitas iriure eu pneum adipiscing esca ne dolore.
        </p>
        <p>
            Regula genitus vicis facilisi letatio. Ex mara virtus ut saluto fatua reprobo tation velit tation.
        </p>
        <p>
            Wisi consectetuer mara jugis huic roto. Duis adipiscing utrum. Odio ea antehabeo. Illum ibidem ullamcorper imputo gilvus vereor vel comis lobortis similis. Virtus gilvus multo vero regula ingenium proprius ex torqueo quia. Velit paratus sagaciter.
        </p>
    </div>
</div>
