#results-map {
    height: 500px;
}

#results-list {
    height: 500px;
    overflow-y: auto;
}

address {
    margin-bottom: 0;
    padding-bottom: 0;
}

.form-control-feedback {
    display: none;
}