{% extends "layout.html" %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center">
  <div class="">
    <h1><strong>Safety, permanency, and well-being</strong></h1>
    <p>A support services center for foster parents.</p>
  </div>

  <div class="container-narrow text-left">
    <div class="row row-centered">
      <div class="col col-lg-6 col-md-6 col-s-8 col-xs-12 col-centered">
      <form id="loginForm" class="form form-login" method="POST" action="/login/" role="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-user text-primary"></i>
            </div>
            {{form.username(placeholder="Username", class_="form-control")}}
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-lock text-primary"></i>
            </div>
            {{form.password(placeholder="Password", class_="form-control")}}
          </div>
        </div>
        <div class="form-group">
          <input class="btn btn-primary btn-submit" type="submit" value="Login">
        </div>
        <p class="text-center text-bold">
          <a class="text-danger" href="{{ url_for('public.register') }}">
            <strong>I need to <em>create</em> an account</strong>
          </a>
        </p>
      </form>
      </div>
    </div><!-- /.row -->

  </div><!-- /.jumbotron -->
</div>
{% endblock %}

